#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.detail_main_con {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detail_main_box {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.detail_tag {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
}

.tag1 {

    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    padding-right: 15px;
    border-right: 1px solid #e2e2e2;
}

.tag2 {
    width: 700px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.detail_tag2 {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e2e2e2;
}

.detail_tag2 span {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: gray;

}

.detail_tag3 {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
    flex-direction: column;
    margin-top: 50px;
}

.text_tag2 {
    width: 900px;
    min-height: 400px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;


}

/*-------------------------------------------------------*/

.review_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 30px;
}
.review_content{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border:1px solid #e2e2e2;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px 5px #ddddff;
}
.review_top{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_top2{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_top span,.review_top2 span{
    font-size: 14px;
    font-weight: bold;
}
.review_name,.review_name2{
    width:300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color:gray;
}
.review_date{
    width:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:gray;
}
.review_date2{
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:gray;
}
.review_center{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.review_center2{
    width:800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.review_text{
    width:900px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top:10px;
    min-height: 50px;
    padding-left:20px;
    margin-bottom: 5px;
}
.review_text2{
    width:800px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top:10px;
    min-height: 50px;
    padding-left:20px;
    margin-bottom: 5px;
}
.review_bot,.review_bot2{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.review_bot button,.review_bot2 button{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 12px;
    color:darkslateblue;
    font-weight: bold;
}


.review_content2{
    width:850px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 100px;
    border:1px solid #e2e2e2;
    margin-left: 50px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px 5px #ddddff;
}





/*-------------------------------------------*/

.review_form,.re_review_form{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 900px;
    display: flex;
    align-items: center;
}
.review_area,.re_review_area{
    width:700px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    height: 75px;
    resize: none;

    border-radius: 5px;
}
.review_area{
    border:2px solid darkslateblue;
}
.re_review_area{
    border:2px solid #4949ff;
}

.review_add_btn{
    background-color: darkslateblue;
}
.review_add_btn,.re_review_add_btn{
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.re_review_add_btn{
        background-color: #4949ff;
}

.review_add_btn:hover{
    opacity: 0.6;
}


.btnbox{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nowPage{
    color:red;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.nextPage{
    cursor: pointer;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.re_reviewList:hover{
    color: #4949ff;
    font-size: 14px;
}
