#container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.index_main_con{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

}
.main_git_box,.main_tistory_box{
    border-radius: 20px;
    box-shadow: 10px 10px 20px 5px #e2e2e2;
    margin-bottom: 10px;
    width:800px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    border:1px solid #e2e2e2;

}
.main_git_box img,.main_tistory_box img{
    width:350px;
    height: 200px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
}
.main_text_box,.main_text_box2{
    width:450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_text_box2 a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:blue;
    font-size: 14px;
    width:450px;
    font-weight: bold;
    margin-bottom: 5px;
}
.main_text_box a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:blue;
    font-size: 20px;
    width:450px;
    font-weight: bold;
    margin-bottom: 5px;
}
.main_text_box span{
    font-weight: bold;
    margin-top:5px;

}



