#container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_main_con{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.login_main_box{
    padding-top:80px;
    padding-bottom: 80px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow:10px 10px 25px 5px darkslateblue;
}
.login_main_box span{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: darkslateblue;
}
.loginbtn{
    background-image: url("../img/button.png");
    width: 382px;
    height: 92px;
    background-size: cover;
    margin-top:50px;
}
.loginbtn:hover{
    background-image: url("../img/focusbutton.png");
}
.loginbtn:active{
    background-image: url("../img/pressbutton.png");
}

.loginbtn2{
    background-image: url("../img/NaverBtn.png");
    width: 382px;
    height: 92px;
    background-size: cover;
    margin-top:20px;
    border-radius: 10px;
}
.loginbtn2:active{
    background-image: url("../img/NaverPress.png");
}
.loginbtn3{
    background-image: url("../img/kakao_login_large_narrow.png");
    width: 382px;
    height: 92px;
    background-size: cover;
    margin-top:20px;
    border-radius: 10px;
}
.loginbtn3:active{
    border:2px solid #ff4c00;
}