<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<div id="container">

    <header th:replace="header :: header"></header>
    <main class="board_main_con">
        <span class="main_tag" th:if="${boardCategory==null}" th:text="#{board.head}">전체 게시물 조회</span>
        <span class="main_tag" th:if="${boardCategory!=null}" th:text="${boardCategory}"></span>
        <form action="/boards/saarch" method="GET" class="search_form">
            <input type="search">
            <button type="submit">검색</button>

        </form>
        <form action="/boards/filter" method="GET" class="filter_form">
            <input type="hidden"  th:if="${boardCategory!=null}" th:value="${boardCategory}" name="boardCategory">
            <select name="boardSort">
                <option value="boardDate">작성날자 순</option>
                <option value="boardHit">조회수 순</option>
                <option value="boardName">제목 순</option>
            </select>
            <select name="boardDirection">
                <option value="ASC">순서대로</option>
                <option value="DESC">역순으로</option>
            </select>
            <button type="submit">정렬</button>


        </form>
        <div class="board_main_box">
            <div class="board_content" th:each="board :${boardMap['pagingBoardResponse']}">

                <div class="board_con_left">
                    <a th:href="|/boards/detail/${board.boardId}|" class="textname_href">
                        <span class="context_textname" th:text="|#{board.name}${board.boardName}|"></span>
                    </a>
                    <div class="board_content_text">
                        <div class="board_context_hit">
                            <span th:text="|#{board.date}${board.boardDate}|"></span>
                            <span th:text="|#{board.hit}${board.boardHit} |"></span>
                        </div>
                    </div>
                </div>
                <div class="board_con_right">
                    <img th:src="${board.boardThumbnail}" th:if="${board.boardThumbnail!=null} and ${board.boardThumbnail!=''}">
                    <span th:if="${board.boardThumbnail}==''" th:text="#{board.img}"></span>
                </div>

            </div>
        </div>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/boards/newpost" class="boardadd_btn" th:text="#{board.addbtn}"></a>
        <a sec:authorize="hasRole('ROLE_USER')" href="/boards/newpost" class="comunityadd_btn" th:text="#{comunity.addbtn}" th:if="${boardCategory=='Comunity'}"></a>
        <div class="btnbox">
            <div></div>
            <th:block th:each="page : ${#numbers.sequence(boardMap['startPage'], boardMap['endPage'])}" th:if="${boardMap['pagingBoardResponse'].size()}!=0">
                <a th:if="${page != boardMap['nowPage']}" th:href="@{/boards(page = ${page - 1})}" th:text="${page}"></a>
                <strong th:if="${page == boardMap['nowPage']}" th:text="${page}" style="color : red;font-weight:bold;font-size: 18px"></strong>
            </th:block>
        </div>
    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>