<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/boarddetail.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/Review.js}"></script>

</head>
<body>

<div id="container">

    <header th:replace="header :: header"></header>
    <main class="detail_main_con">
        <div class="detail_main_box">
            <div class="detail_tag2">
                <span th:text="|카테고리 : ${board.boardCategory}|"></span>
                <span th:text="|조회수 : ${board.boardHit}|"></span>

            </div>
            <div class="detail_tag">
                <span class="tag1">제목</span>
                <span class="tag2" th:text="${board.boardName}"></span>
            </div>
            <div class="detail_tag">
                <span class="tag1">작성일</span>
                <span class="tag2" th:text="${board.boardDate}"></span>
            </div>

            <div class="detail_tag3">
                <div class="text_tag2" th:utext="${board.boardContent}"></div>
            </div>

            <a th:href="|/boards/repost/${board.boardId}|" th:if="${#authentication.name}==${board.boardWriter}"  class="modifyform">게시글 수정</a>


        </div>
        <form class="review_form">
            <input type="hidden" th:value="${board.boardId}" name="boardId">
            <input type="hidden" th:value="${#authentication.name}" name="boardName">
            <input type="hidden" th:value="${#authentication.name}" name="reviewName" sec:authorize="isAuthenticated()">


            <textarea name="reviewContent" class="review_area"></textarea>
            <button type="button" class="review_add_btn">등록</button>
        </form>
        <div class="review_box">


        </div>
    </main>


    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>