<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/boarddetail.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="container">

    <header th:replace="header :: header"></header>
    <main class="detail_main_con">
        <div class="detail_main_box">
            <div class="detail_tag2">
                <span th:text="|카테고리 : ${board.boardCategory}|">카테고리</span>
                <span th:text="|조회수 : ${board.boardHit}|">조회수</span>

            </div>
            <div class="detail_tag">
                <span class="tag1" >제목</span>
                <span class="tag2" th:text="${board.boardName}">제목쓰는곳</span>
            </div>
            <div class="detail_tag">
                <span class="tag1">작성일</span>
                <span class="tag2" th:text="${board.boardDate}">제목쓰는곳</span>
            </div>

            <div class="detail_tag3">
                <div class="text_tag2" th:utext="${board.boardContent}">제목쓰는곳</div>
            </div>

        </div>
        <form class="review_form">
                <textarea name="reviewContent" class="review_area">

                </textarea>
            <button type="button" class="review_add_btn">등록</button>
        </form>
        <div class="review_box">
            <div class="review_content">
                <div class="review_top">
                    <span class="review_name">사람이름</span>
                    <span class="review_date">날짜</span>
                </div>
                <div class="review_center">
                    <span class="review_content">내용작성</span>
                </div>
                <div class="review_bot">
                    <span>삭제/댓글달기</span>
                    <span>더보기</span>
                </div>
            </div>

        </div>
    </main>






    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>