<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="index_hed_con" th:fragment="header">
  <div class="index_hed_text">
    <a href="/index">붓싼의 <span class="text_1">T</span>ech <span class="text_2">B</span>log</a>
    <div class="hed_login_box">
      <a href="/users">Login</a>
    </div>
  </div>
  <div class="index_hed_box">
    <span><a href="/boards">ALL Board</a></span>
    <span><a href="/boards/Spring">Spring</a></span>
    <span><a href="/boards/Java">Java</a></span>
    <span><a href="/boards/Portfolio">Portfolio</a></span>
    <span><a href="/boards/Project">Project</a></span>
    <span><a href="/boards/Junit">Junit</a></span>
    <span><a href="/boards/CS">CS</a></span>
    <span><a href="/boards/JPA">JPA</a></span>
    <span><a href="/boards/MyBatis">MyBatis</a></span>
  </div>


</header>
</body>
</html>