<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="container">
    <header th:replace="header :: header"></header>
    <main class="index_main_con">

        <div class="main_git_box">
            <img src="/myblog/git.png">
            <div class="main_text_box">
                <a href="https://github.com/sopand">https://github.com/sopand</a>
                <span>Blog 주인장의 GitRepository</span>
            </div>
        </div>
        <div class="main_tistory_box">
            <img src="/myblog/tistory.png">
            <div class="main_text_box">
                <a href="https://pows.tistory.com/">https://pows.tistory.com/</a>
                <span> Blog 주인장의 티스토리( 열심히 쓰는중 .. )</span>
            </div>
        </div>
    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>