<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="container">
    <header th:replace="header :: header"></header>
    <main class="login_main_con">

        <div class="login_main_box">
            <span> 해당 블로그는 단순 SNS 로그인만 지원해요!!</span>
            <span> 귀찮은 회원가입은 Pass~~~</span>

            <a href="#" class="loginbtn">

            </a>



        </div>
    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>